body{
  font-family:Verdana;
}
.navbar-inverse { background-color: #595241}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #B8AE9C}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #B8AE9C}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #B8AE9C}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #000000}
.navbar-inverse .navbar-brand { color: #B8AE9C}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #8A0917}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #8A0917}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #263248}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #8A0917}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #8A0917}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #8A0917}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #8A0917}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #8A0917}
#matterhorn-logo{
  height:50px;
  width: 70px;
}
#header-logo{
  margin-right: 170px;
  margin-left:-80px;
}
@font-face {
  font-family: 'rosarioregular';
  src: url('../../fonts/rosario-regular-webfont.eot');
  src: url('../../fonts/rosario-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/rosario-regular-webfont.woff2') format('woff2'),
  url('../../fonts/rosario-regular-webfont.svg#rosarioregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
.title{
  margin-left:-130px;
  margin-right: 50px;
  margin-top:-50px;
  font-family: rosarioregular;
  font-size:20px;
  color:#8A0917;
  font-style: oblique;
}

.about-body-details{
  font-family: rosarioregular;
  font-size:inherit;
  color:#B8AE9C;
  font-style: oblique;
}
.about-body-details a{
  color:#B8AE9C;
  text-decoration:underline;
}
.about-body-details a:hover{
  color:#B8AE9C;
}
.about-body-details a:link{
  color:#B8AE9C;
}
.about-body-details a:visited{
  color:#B8AE9C;
}


.title.pos_top{
  top:-30px;
}
.title:hover{
  color:#B8AE9C;
  text-decoration: none;
}
.input-arrows i{
  cursor:pointer;
}
.time-label{
  font-weight: 700;
}
div#subtitle{
  color: white;
  font-size: 18px;
  font-weight: bold;
  left: 15px;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 6px black;
  top: 282px;
  width: 550px;
}

#add-options li a:hover {
  cursor: pointer;
}

video{
  background:black;
}
.sweet-alert button {
  background-color: #aedef4;
  border: medium none;
  border-radius: 5px;
  box-shadow: none;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 1px 5px 0;
  padding: 10px 32px;
}
.sweet-alert h2 {
  color: #575757;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  text-align: center;
  text-transform: none;
}